<% attributes.each do |attribute|  -%>
<% if attribute.belongs_to? -%>
<%% if f.foreign_key?(:<%= attribute.name %>) -%>
  <%%= f.hidden_field :<%= attribute.name %> %>
<%% else -%>
  <%%= f.label :<%= attribute.name %> %>
  <div class="field">
    <%%= f.<%= attribute.field %> %>
  </div>
<%% end -%>
<% else -%>
  <%%= f.label :<%= attribute.name %> %>
  <div class="field">
    <%%= f.<%= attribute.field %> %>
  </div>
<% end -%>

<% end -%>
