<%% nested_ajax_pane(@<%= controller_singular_name %>, :controller => '<%= controller_name %>') do |pane| -%>

<% attributes.each do |attribute|  -%>
<% if attribute.belongs_to? -%>
<%% unless f.foreign_key?(:<%= attribute.name %>) -%>
  <div>
    <div class="label"><%= attribute.name %>:</div>
    <div class="value <%= attribute.name %>"><%%=h @<%= controller_singular_name %>.<%= attribute.name %> %></div>
  </div>
<%% end -%>
<% else -%>
  <div>
    <div class="label"><%= attribute.name %>:</div>
    <div class="value <%= attribute.name %>"><%%=h @<%= controller_singular_name %>.<%= attribute.name %> %></div>
  </div>
<% end -%>
<% end -%>

<% one_to_many_reflections.each do |reflection| -%>
<% has_many_controller_name = [controller_category_name, reflection.class_name.underscore.pluralize].join('/') -%>
  <h3><%= reflection.name.to_s.humanize %></h3>
  <div class="record_table">
    <%% pane.has_many(:<%= reflection.name %>, :controller => '<%= has_many_controller_name %>') do |<%= reflection.name %>_pane| -%>
      <%% <%= reflection.name %>_pane.each do |<%= reflection.name.to_s.singularize %>_pane| -%>
        <%%= <%= reflection.name.to_s.singularize %>_pane.render :file => '<%= has_many_controller_name %>/show' %>
      <%% end -%>
      <%%= <%= reflection.name %>_pane.link_to_new('add <%= reflection.name.to_s.singularize %>') %>
    <%% end -%>
  </div>

<% end -%>

  <%% join_line_with do -%>
    <%%= pane.link_to_edit('Edit') unless pane.root? -%>
    <%%= pane.link_to_destroy('Delete', :effect => "Effect.Fade('#{pane.id}');") unless pane.root? -%>
  <%% end -%>

  <%% if pane.root? -%>
    <%%= link_to 'Back', <%= controller_resource_name %>_path %>
  <%% end -%>

<%% end -%>
